h1 {
	font-family: "Anonymous Pro", Courier, monospace;
	font-size: 50px;
	text-align: center;
	letter-spacing: 0;
	margin-top: -5px;
}

h2 {
	text-align: center;
	font-family: "Anonymous Pro", Courier, monospace;
	opacity: 0.5;
	margin-bottom: 117px;
	margin-top: -2px;
	letter-spacing: 0;
}

.molorg-label {
	margin-bottom: 85px;
}

#container-label {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	margin-right: -50%;
}

div {
	display: inline-block;
}

#login {
	margin-bottom: 25px;
}

section {
	width: 100%;
	text-align: center;
	letter-spacing: 55px;
}

#clearfix::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

.item {
	height: 300px;
	width: 300px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-bottom: 50px;
}

.molorg {
	height: auto;
	width: 600px;
	margin-bottom: 120px;
}

#submit {
	text-align: center;
	margin-top: 45px;
}

.row {
	display: block;
	margin-bottom: 20px;
	text-align: left;
	width: 100%;
}

#container {
	background-color: #b8c3d6;
	border: 3px dashed gray;
}

label {
	font-family: Lekton, Courier, monospace;
	letter-spacing: 0;
	margin-right: 20px;
}

input[type="text"] {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	outline: none;
	border: 1px solid #ddd;
	font-family: Lekton, Courier, monospace;
}

input[type="text"]:focus {
	box-shadow: 0 0 5px rgba(81,203,238,1);
	border: 1px solid rgba(81,203,238,1);
}

input[type="radio"] {
	transform: translate(-20%, -20%) scale(1.8);
	position: absolute;
	opacity: 0;
}

.radio {
	margin-right: -25px;
	margin-left: 8px;
}

.circle {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	border: 2px solid #00cccc;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 5;
}

.circle:after {
	content: '';
	display: block;
	width: 13px;
	height: 13px;
	margin: 1px auto;
	border-radius: 100%;
	transition: background .3s linear;
}

input[type="radio"]:checked + .circle:after {
	background: #738cdd;
}

input[type="radio"]:checked + .circle {
	border-color: #034c4c;
}

input[type="submit"] {
	background: none;
	outline: none;
	border: 0;
	font-family: Lekton, Courier, monospace;
	font-size: 25px;
	margin-top: -20px;
	border: 3px solid #085087;
	cursor: pointer;
}

input[type="submit"]:hover {
	color: #f40707;
}

input[type="submit"]:active {
	background-color: #e3f0f9;
}